<div class="movieinfo container">
    <br>
    <p-toast position="bottom-right"></p-toast>
    <p-card>
        <div class="row">
            <div class="col-md-5">
                <img src="{{movieinfo.Poster}}" 
                height="440px" width="370px" alt="{{movieinfo.Title}}" style="cursor: pointer; border-radius: 8px;">
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                        <h2 style="color: #222539;">{{movieinfo.Title}}</h2>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-1">
                        <i class="pi pi-star-fill" style="font-size: 30px;color: #f84464;"></i>
                        </div>
                        <div class="col-md-2">
                        <h4>{{movieinfo.imdbRating}}/10</h4>
                        </div>
                        <div class="col-md-3 pt-1">
                            {{(movieinfo.Reviews).length}} ratings
                        </div>
                    </div>
                    <div class="row mt-3 ml-1">
                        <div *ngFor="let i of movieinfo.Genre">
                            <p-chip label={{i}} styleClass="mr-2"></p-chip>
                        </div>
                    </div>
                    <div class="row mt-3 ml-1">
                        <h5>Runtime : {{movieinfo.Runtime}}</h5>
                    </div>
                    <div class="row mt-3 ml-1">
                        <h5>Release : {{movieinfo.Released}}</h5>
                    </div>
                    <div class="row mt-3 ml-1">
                        <div *ngFor="let i of movieinfo.Language">
                            <p-chip label={{i}} styleClass="mr-2 bg-info"></p-chip>
                        </div>
                    </div>
                    <div class="row mt-3 ml-1">
                        <h5 style="margin-right: 5px;">Country :</h5>
                        <div *ngFor="let i of movieinfo.Country">
                            <p-chip label={{i}} styleClass="mr-2 bg-secondary text-white"></p-chip>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 movie-raised-button">
                            <button pButton pRipple type="button" label="Book Tickets" class="p-button-raised"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-card>

    <p-divider></p-divider>
    <h2>About the movie </h2>
    <p>{{movieinfo.Plot}}</p>
    <p-divider></p-divider>

    <h2>Cast</h2>
    <div class="row">
        <div *ngFor="let i of movieinfo.Actors">
            <p-chip label={{i}} styleClass="mr-2 bg-secondary text-white mb-2"></p-chip>
        </div>
    </div>
    
    <p-divider></p-divider>
    <h2>Crew</h2>
    <div class="row mb-4">
        <div *ngFor="let i of movieinfo.Director">
            <p-chip label={{i}} styleClass="mr-2 bg-secondary text-white mb-2"></p-chip>
        </div>
        <div *ngFor="let i of movieinfo.Writer">
            <p-chip label={{i}} styleClass="mr-2 bg-secondary text-white mb-2"></p-chip>
        </div>
    </div>

    <p-divider></p-divider>
    <div *ngIf="Userloggedin">
        <h2>Write your review</h2>
        <div class="row">
            
            <div class="col-md-3 movie-textbox">
                <input type="text" placeholder="Name" [(ngModel)]="Name" pInputText />
            </div>
            <h6 class="mt-2">Rating :</h6>

            <div class="col-md-8 mt-2">
                <p-radioButton class="mr-1" name="rating" value="1" [(ngModel)]="rating" inputId="1"></p-radioButton>
                <p-radioButton class="mr-1" name="rating" value="2" [(ngModel)]="rating" inputId="2"></p-radioButton>
                <p-radioButton class="mr-1" name="rating" value="3" [(ngModel)]="rating" inputId="3"></p-radioButton>
                <p-radioButton class="mr-1" name="rating" value="4" [(ngModel)]="rating" inputId="4"></p-radioButton>
                <p-radioButton class="mr-1" name="rating" value="5" [(ngModel)]="rating" inputId="5"></p-radioButton>

            </div>
        </div>
        <div class="row mt-4 ml-1">
            <span class="p-float-label">
                <textarea id="float-input" rows="5" cols="100" pInputTextarea [(ngModel)]="Comment"></textarea>
                <label for="float-input">Review</label> 
            </span>
        </div>
        <div class="row">
            <div class="col-md-3 movie-raised-button">
                <button pButton pRipple type="button" label="Submit" (click)="SubmitReview(movieinfo.Title)" class="p-button-raised"></button>
            </div>
        </div>
    <p-divider></p-divider>
    </div>
    <h2>Reviews : {{(movieinfo.Reviews).length}}</h2>
    <div class="row mt-4">
        <div class="col-md-4 mb-3" *ngFor="let item of movieinfo.Reviews">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="row pt-2 pl-2">
                        <div class="col">
                            <h6>
                            <i class="pi pi-user"></i>
                            {{ item.name}}
                            </h6>
                        </div>
                        <div class="col-md-3">
                            <i class="pi pi-star-fill" style="color:red"></i>
                            {{item.rating}}/5
                        </div>
                    </div>
                </ng-template>
                <h6>{{item.comment}}</h6>
                <ng-template pTemplate="footer">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" placeholder="Add Comment"  pInputText />
                        </div>
                        <div class="col-md-4 movie-raised-button">
                            <button pButton pRipple type="button" label="Submit" class="p-button-raised"></button>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>